label{
    display: block;
    margin-left:18px;
    width: 160px;
    cursor: pointer;
  }
html {
 background-image: url(https://images.hdqwalls.com/download/ios-12-desktop-4k-5k-ph-2560x1600.jpg);
 background-repeat: no-repeat;
 background-position: center center;
 background-attachment: fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}
.ch1 {
    vertical-align: auto;
    position: relative;
    top:690px;
    left: 510px;
    text-align: center;
    font-size: 20px;
    background-color: green;
    border-radius: 10px;
    border: black;

}
.ch2 {
    position: relative;
    top:490px;
    left: 860px;
    text-align: center;
    font-size: 20px;
    background-color: green;
    border-radius: 8px;
    border: black;
}
.ch3 {
    position: relative;
    top:643px;
    left: 1220px;
    text-align: center;
    font-size: 20px;
    background-color: green;
    border-radius: 8px;
    border: black;
  }
.new-task {
    background: linear-gradient(to top left, powderblue, pink);
    width: 350px;
    height: 150px;
    margin: 0 auto;
    border: 1px solid rgb(112, 112, 112);
    border-radius: 40px;
    opacity: 85%;
}
.spisok {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
.save-task {
    position: relative;
    top: -40px;
    left: 1px;
    width: 200px;
    height: 40px;
    background-color: rgb(25, 194, 25);
    border-radius: 10px;
    margin-top: 25px;
    margin: 75px;
    font-size: 16px;
    color: #424242;
}
.input-title {
    position: relative;
    left: 10px;
    text-align: center;
    width: 150px;
    height: 35px;
    border-radius: 10px;
    border: 1px solid #7a7a7a;
}
.input-description {
    position: relative;
    left: 24px;
    text-align: center;
    width: 150px;
    height: 35px;
    border-radius: 10px;
    border: 1px solid #7a7a7a;
    margin-top: 25px;
}
.task2 {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    left: 450px;
    top: 245px;
    text-align: center;
    background: linear-gradient(90deg, #ee5c87, #f1a4b5, #d587b3);
    width: 300px;
    height: 140px;
    border-radius: 10px;
    border: 1px solid #7a7a7a;
}
.task1 {
    position: relative;
    top: 75px;
    left: 495px;
    text-align: center;
    vertical-align: auto;
    display: inline-block;
    background: linear-gradient(90deg, #b9deed, #efefef);
    width: 300px;
    height: 140px;
    border-radius: 10px;
    border: 1px solid #7a7a7a;
}
.task3 {
    position: relative;
    left: 1153px;
    top: 102px;
    text-align: center;
    background: linear-gradient(90deg, #cfecd0, #a0cea7, #9ec0db);
    width: 300px;
    height: 140px;
    border-radius: 10px;
    border: 1px solid #7a7a7a;
}
.header {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 50px;
}